* {
  margin: 0;
  padding: 0;
}

.allbg {
  width: 100%;
  min-width: 1000px;
  height: 745px;
  position: relative;
}


.titlelogo {
  position: fixed;
  left: 106px;
  top: 20px;
  width: 151px;
}



.titlelogo .return {
  background: url(./img/return.png) no-repeat center center;
  text-decoration: none;
  color: #fff;
  line-height: 75px;
  width: 52px;
  font-size: 15px;
  position: fixed;
  left: 330px;
  top: 0px;
  height: 75px;
  text-align: center;
}

.search {
  width: 600px;
  height: 50px;
  line-height: 46px;
  border: 2px solid #00a9c3;
  border-radius: 15px;
  box-sizing: border-box;
  position: fixed;
  left: 460px;
  top: 25px;
}

.searchsc {
  background: #00a9c3 url(../views/img/search.png) no-repeat 10px center;
  background-size: 18px auto;
  border: none;
  width: 86px;
  padding-left: 16px;
  font-size: 16px;
  height: 48px;
  color: #fff;
  position: fixed;
  left: 975px;
  top: 26px;
  cursor: pointer;
  border-radius: 15px;
}

.login {
  font-size: 18px;
  border-radius: 35px;
  width: 120px;
  height: 40px;
  color: #00A9C3;
  display: block;
  border-color: #00A9C3;
  font-weight: bolder;
  position: fixed;
  left: 1200px;
  top: 33px;
  box-shadow: 1px 1px 1px 2px #666;
}

.login a {
  text-decoration: none;
  color: #00A9C3;
}

.dh {
  position: fixed;
  top: 100px;
  line-height: 50px;
  background: #00A9C3;
  width: 100%;
  margin: auto;

}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.mynav {
  height: 50px;
  width: 400px;
  /* background-color: #0173DD; */
}

.center {
  width: 1200px;
  height: auto;
  overflow: hidden;
  /* position: relative; */
  margin: auto;
}

.mynav ul {
  width: 100%;
  height: 100%;
}

.mynav ul li {
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  margin-left: 80px;

}

.WaiBianKuang {
  padding: 0 28px;
}

.mynav ul li>a {
  text-decoration: none;
  color: #fff;
  /* padding: 0 28px; */
}

.mynav ul li div {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 0;
  background-color: #fff;
  /*border: 1px solid rgb(189, 189, 189);*/
  /* 圆角 */
  border-radius: 10px;
  transition: height 0.2s, border 0.2s linear;
  -moz-transition: height 0.2s, border 0.2s linear;
  /* Safari and Chrome */
  -webkit-transition: height 0.2s, border 0.2s linear;
  /* Opera */
  -o-transition: height 0.2s, border 0.2s linear;
}

.mynav ul li:hover {
  background: #fff;
  border-radius: 5px;
}

.mynav ul li:hover>a {
  color: #00A9C3;
}

.mynav ul li:hover div {
  height: 130px;
  border: 1px solid rgb(189, 189, 189);
  z-index: 100;
}

.mynav ul li div ul li:hover {
  background: #00A9C3;
}

.mynav ul li div ul li:hover>a {
  color: #fff;
}

.mynav ul li div ul {
  width: 100%;
  height: 200px;
}

.mynav ul li div ul li {
  margin: 10px 3px 0 3px;
  width: 74px;
  height: 30px;
  line-height: 30px;
}

.mynav ul li div ul li a {
  display: block;
  /*填充li*/
  color: #00A9C3;
}

.breadcrumb {
  background: none;
  border-bottom: 1px solid #6c757d;
  border-radius: 0px;
  width: 100%;
}

.breadcrumb a {
  text-decoration: none;
  font-size: 13px;

}

.container ol {
  list-style: none;
}

.container .zlass {
  width: 100%;
  height: 60px;
  background: #c6cbcf;
  border-radius: 10px;
  line-height: 40px;
}

.container .zlass ol {
  margin-left: 30px;
  text-align: center;
}

.navspan {
  margin: 8px 10px;
}

.nav-link {
  padding: 0 !important;
}

.cardw {
  width: 180px;
}

.zbody a {
  text-decoration: none;
  font-size: 20px;
}

.card-header {
  margin-top: 10px;
}

.zfoot {
  background: black;
  width: 100%;
  height: 100px;
}

.zbody .titlesize {
  font-size: 18px;
  font-weight: bolder;
}

.zbody .cardh {
  height: 150px;
  text-align: center;
  line-height: 120px;
}
.mysecond-nav {
  margin: auto;
  position: absolute;
  top: 200px;
  left: 200px;
  width: 1020px;
  padding: 20px 20px;
  background-color: rgb(144, 241, 237);
  border-radius: 30px;


}

.mysecond-nav h5 {
  color: #00A9C3;
  font-size: 20px;
  border-bottom: 2px solid #00A9C3;
  width: 300px;
}

.mysecond-nav ul {
  list-style: none;
  overflow: hidden;
}

.mysecond-nav ul li {
  float: left;
  margin: 10px;
}

.mysecond-nav ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mysecond-nav ul li a:hover {
  color: #fff;
  background: #00A9C3;
  border-radius: 5px;
  border: 1px solid black;
}

.mysecond-nav h1 {
  color: #00A9C3;
}

.titlecenter {
  background-color: #fff;
  width: 90%;
  position: fixed;
  z-index: 5;
  height: 150px;
  top: 0;
  margin: auto;
}
.upfile {
  display: block;
  margin: 200px auto 0px;
  width: 500px;
  background: rgb(56, 53, 53);
  border-radius: 20px;
  padding: 20px;
}

.upfile>input {
  width: 300px;
  height: 20px;
  border: 2px solid #00A9C3;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin: 5px 0;
  color: #fff;
  padding: 0px 20px;
}

.filesort span {
  color: #fff;
  margin: 5px;
}

.filesort label {
  margin-right: 20px;
}